<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <div style="width:720px; padding: 16px 32px;">
        <div style="background-color: #f7f7f7; text-align: center;">
            <img src="https://bgprogramming.com/images/mail_banner.jpg" style="height: 120px; object-fit: contain;"></img>
        </div>
        
        <div style="font-size: 1.2rem; font-weight: bold; margin-top: 24px;">계정 이메일 인증</div>
        <div style="color:#333; margin-top: 8px;">
            안녕하세요. user_name님<br>
            진행중인 "이메일 인증" 번호를 안내드립니다.<br>
            인증 메일은 전송시점으로부터 48시간 동안만 유효하며, 재발송시 인증 번호는 만료됩니다.<br>
            입력란에 아래의 인증 번호를 입력해 주세요.
        </div>
        <div style="font-size: 1rem; font-weight: bold; margin-top: 16px;">
            인증 번호
        </div>
        <div style="color:#FE2400; font-size: 25px; margin : 0px">
            AUTH_CODE
        </div>
        <div style="margin-top: 8px;">
            BGProgramming 드림
        </div>
    </div>
</body>